<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>

  <link rel="stylesheet" href="/css/auth.css">

  <!-- Google Icon -->
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/material-design-iconic-font@2.2.0/dist/css/material-design-iconic-font.min.css">
</head>

<body>

<div class="auth-container">

  <h2>Login</h2>

  <form action="/login" method="POST">

    <div class="form-group">
      <label>Email</label>
      <input type="email" name="email" required />
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" name="password" required />
    </div>

    <!-- Forgot password -->
    <div class="forgot-password">
      <a href="/reset-password">Forgot Password?</a>
    </div>

    <% if(errors && errors.length > 0) { %>
      <% errors.forEach((error) => { %>
        <p class="error"><%- error %></p>
      <% }) %>
    <% } %>

    <button class="btn">Login</button>

  </form>

  <!-- Divider -->
  <div class="divider">
    <span>OR</span>
  </div>

  <!-- Google Login -->
  <a href="/google" class="google-btn">
    <i class="zmdi zmdi-google"></i>
    Continue with Google
  </a>
  <!-- Github Login -->
  <a href="/github" class="google-btn">
    <i class="zmdi zmdi-github"></i>
    Continue with Github
  </a>

  <div class="auth-footer">
    Don't have an account?
    <a href="/register">Register</a>
  </div>

</div>

</body>
</html>